@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

header {
    display: grid;
    grid-area: 1 / 2 / 2 / 3;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.search-icon, .bell-icon {
    width: 20px;
}

.profile-div {
    display: grid;
    grid-area: 1 / 2 / 2 / 3;
    grid-template-columns: repeat(3, 1fr);
}

.my-profile-image {
    border-radius: 50%;
}

.my-profile-image.small-image {
    width: 20px;
}

.my-profile-image.big-image {
    width: 30px;
}

.greetings-div {
    display: grid;
    grid-area: 2 / 1 / 3 / 2;
    grid-template-columns: repeat(2, 1fr);
}

.greetings-text-div {
    display: grid;
    grid-area: 1 / 2 / 2 / 3;
    grid-template-rows: repeat(2, 1fr);
}

.dashboard {
    display: grid;
    grid-area: 1 / 1 / 3 / 2;
}

main {
    display: grid;
    grid-area: 2 / 2 / 3 / 3;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}